<section id="about" class="about-section ">
  <div class="container ">
    <div class="row ">
      <div class="col-lg-10 mx-auto text-center ">
        <h2 class="text-white mb-4 text-center">About me</h2>
        <p class="text-white-50 text-left about-text  "> I am a responsible, ambitious person and I have the capacity to absorb and assimilate new ideas fast. 
          In addition, I am a very punctual person and I approach tasks and situations in a mature way. 
          Besides, I am a team player, working well and comfortably with others, contributing to positive morale in the workplace. 
          I am accustomed to work in a busy environment and I am unflappable under pressure. 
          My practical experience and my personal characteristics such as flexibility, cooperation and dedication can contribute for you to have an excellent work with me.
          For more about my background and past studies please have a look over my cv </p>
          <button type="button" class="btn btn-c btn-txt" data-toggle="modal" data-target="#myModal">CV</button>

        </div>
    </div>

  </div>
  <div id="myModal" class="modal fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="max-width:794px;"  >
        <div class="modal-content"  >
           
                <img src="../../assets/CV.jpg" class="img-responsive cv_button">
          
        </div>
      </div>
    </div>

</section>
<section id="about" class="parallax">
  <div class="container">
    <div class="parr_div ">
    <img class="img-fluid" src="../../assets/laptop.png" alt="">
  </div>
  </div>
</section>
<section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters">
        <div class="col-xl-6 col-lg-6">
          <img class="img-fluid mb-3 mb-lg-0" src="../../assets/profile.jpg" alt="">
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="featured-text text-center text-lg-left">
            <h4>Motivation</h4>
            <p class="text-black-50 mb-0">It can be said that I am a perfectionist just by putting in extra hours when the need arises just to get my work properly done.
               What is more, socially, I have an outgoing personality and I like to take part in different voluntary activities whenever I can.
               With their help I am able to develop my communication skills by interacting with people when involved in different situations which required initiative and team spirit</p>
          </div>
        </div>
      </div>
      </div>
 </section>
 <section class="icons-parallax">
    <div class="container ">
        <p class="icons-heading">Passions</p>


      <div class="row justify-content-center">
          <div class="col-sm-6 col-lg-3 icon-container" >
            
            <div class="icons-icon">
                <img src="../../assets/aperture-initial.png" onmouseover="this.src='../../assets/aperture-final.png';" onmouseout="this.src='../../assets/aperture-initial.png';" class="icon aperture">
                <p class="incons-text ">PHOTOGRAPHY</p>
              </div>

          </div>
          <div class="col-sm-6 col-lg-3 icon-container" >
              <div class="icons-icon">
                  <img src="../../assets/bench-initial.png" onmouseover="this.src='../../assets/bench-final.png';" onmouseout="this.src='../../assets/bench-initial.png';" class="icon gym">

                  <p class="incons-text gymtext">GYM</p>
              </div>

              </div>
              <div class="col-sm-6 col-lg-3 icon-container" >
                  <div class="icons-icon">
                    <img src="../../assets/mouse-icon.png" class="icon mouse">
                  <p class="incons-text">gaming</p>
                </div>

              </div>
              <div class="col-sm-6 col-lg-3 icon-container" >
                  <div class="icons-icon">
                      <img src="../../assets/basic_gear.png" class="icon gear">
                    <p class="incons-text">developing</p>
                  </div>
  
                </div>

                
      </div>
    </div>
    </section>
 <section id="vertical_tabs" >
   
    <div class="row" style="margin:0;">
      <div class="col-lg-4" style="padding:0 0 0 0;">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
        <a class="nav-link active" id="v-pills-tab1-tab" data-toggle="tab" href="#v-pills-tab1" role="tab" aria-controls="v-pills-tab1" aria-expanded="true">
            <img src="../../assets/frontend.png" class="tab-icon">
          
          <div class="tab-group">
              <span class="tab-info">Front-End Skills </span>
          </div>
        </a>
        <a class="nav-link" id="v-pills-tab2-tab" data-toggle="tab" href="#v-pills-tab2" role="tab" aria-controls="v-pills-tab2" aria-expanded="true">    
                 <img src="../../assets/backend.png" class="tab-icon">
          
          <div class="tab-group">
              <span class="tab-info">Back-End Skills</span>
          </div></a>
        <a class="nav-link" id="v-pills-tab3-tab" data-toggle="tab" href="#v-pills-tab3" role="tab" aria-controls="v-pills-tab3" aria-expanded="true">  
                   <img src="../../assets/database-512.png" class="tab-icon">
          
          <div class="tab-group">
              <span class="tab-info">Database Skills</span>
          </div></a>
      </div>
      </div>
      <div class="col-lg-8 tab-content " id="v-pills-tabContent">
        <div class="tab-panel fade show  active" id="v-pills-tab1" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="col-md-8 tab-content-text">
                <h4 class="desc-heading">FRONT-END</h4>
                <p class="p-text">I could say that out of all three layers of web development, the front end part is the one i am most familiar with. Most projects i have worked on 
                  had to be developed in HTML mainly because that is the first thing that i had to learn toghether with CSS. I am also familiar with various CSS frameworks such as Bootstrap and TailWind.
                  Another skillset concerning Front-End development are JavaScript frameworks. Out of all the frameworks i am most skilled in Angular, but I have also taken a course in Vue and React so i can 
                  definetly say that i am aware of their characteristics and i can make a decision of which one to use depending on the requirements needed. 
                </p>
                <button class="btn-txt projects-hover">See projects</button> 
                <h4 class="desc-heading na">Under Development</h4> 
              </div>
              <div class="col-md-4 tab-content-image">
                  <img src="../../assets/frontend-big.png" alt="Tab Image" class="tab-image"  >
                </div>
        </div>
        <div class="tab-panel fade" id="v-pills-tab2" role="tabpanel" aria-labelledby="v-pills-tab2-tab">
          <div class="col-md-8 tab-content-text">
            <h4 class="desc-heading">BACK-END</h4>
            <p>Concerning back-end, ASP.NET is the platform i have worked with before. I have worked with MVC in order to have a clean and easy way to manage all the data and i have 
              also worked with plain Web API app with no templates in order to learn more about manipulating the data coming from the APIs and creating the controllers with the help of Entity Framework.</p>
          </div>
          <div class="col-md-4 tab-content-image">
              <img src="../../assets/backend-big.png" alt="Tab Image" class="tab-image wow fadeInRight" data-wow-duration=".8s" >
            </div>
        </div>
        <div class="tab-panel fade" id="v-pills-tab3" role="tabpanel" aria-labelledby="v-pills-tab3-tab">
          <div class="col-md-8 tab-content-text">
            <h4 class="desc-heading">DATABASES</h4>
            <p>Out of the two types of databases i am mare skilled in SQL after having to work with SQL  databases for most of my College projects. That is mainly because we did not need to have a  large database
              so SQL did just fine. But in the case of a No-SQL database i have the basic knowledge about most of its types including MongoDB, Node and of course, Firebase being the one i am used to.
            </p>
          </div>
          <div class="col-md-4 tab-content-image">
              <img src="../../assets/DATABASE-BIG.png" alt="Tab Image" class="tab-image wow fadeInRight" data-wow-duration=".8s" >
            </div>
        </div>
      </div>
  </div>
</section>
<section id="contact-s" class="signup-section">
    
  <div class="container ">
      <div class="row justify-content-center">
          <h4 class="form-btn formheading">GET IN TOUCH WITH ME</h4>

      </div>
        <div class="row justify-content-center">
          
            <div class="media-container-column col-lg-10" data-form-type="formoid">
                    <form class="gform" action="https://script.google.com/macros/s/AKfycbx6IEVffOeMisjDJqNaHxghu_j0jZrtk6OFc-nSumA9uib0XDYg/exec" method="POST" data-email="florinmihalcea96@gmail.com" >
                        <div class="col-lg-6 half">
                            <div class=" col-lg-12 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-2w">
                                    <label class="form-control-label  form-text display-7" for="name-form1-2w">Name</label>

                                </div>
                            </div>
                            <div class="col-lg-12 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-2w">
                                    <label class="form-control-label  form-text display-7" for="email-form1-2w">Email</label>

                                </div>
                            </div>

                        </div>
                        <div class=" col-lg-6 half form-group" data-for="message">
                            <textarea type="text" class="form-control message" name="message" rows="7" data-form-field="Message" id="message-form1-2w"></textarea>
                                                        <label class="form-control-label  form-text  display-7" for="message-form1-2w">Message</label>
                                                        <span class="input-group-btn">
                                                            <button class="btn-txt form-btn">SEND MESSAGE</button>  
                                                          </span>
                        </div>
                        <div class="thankyou_message " style="display:none">
                          <h4 class="formheading">Thanks for contacting me!
                            I will get back to you soon!</h4>
                        </div>
                    </form>

            </div>
        </div>

    </div>
</section>
  <!-- Contact Section -->
  <section class="contact-section bg-black">
      <div class="container">
  
        <div class="row">
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">Badehusvej 14, 9</div>
                <div class="small text-black-50">Aalborg, Denmark</div>


              </div>
            </div>
          </div>
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">florinmihalcea96@gmail.com</a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+45 52828460</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
